<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>文章列表页</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <a href="/article" rel="external nofollow">发表新文章</a>
  </p>
  <ul>
    <%items.forEach(function(item){%>
      <li>
        <%=item.title%>
      </li>
      <%})%>
  </ul>
</body>

</html>
