@charset "UTF-8";
/*



 *
 * Style - Product
 * Version: 3.0
 */
/* ---------- Score ---------- */
span.score0 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -60px no-repeat; }

span.score1 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -90px no-repeat; }

span.score2 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -120px no-repeat; }

span.score3 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -150px no-repeat; }

span.score4 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -180px no-repeat; }

span.score5 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -210px no-repeat; }

span.score6 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -240px no-repeat; }

span.score7 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -270px no-repeat; }

span.score8 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -300px no-repeat; }

span.score9 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -330px no-repeat; }

span.score10 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -360px no-repeat; }

div.score0 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -60px no-repeat; }

div.score1 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -90px no-repeat; }

div.score2 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -120px no-repeat; }

div.score3 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -150px no-repeat; }

div.score4 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -180px no-repeat; }

div.score5 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -210px no-repeat; }

div.score6 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -240px no-repeat; }

div.score7 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -270px no-repeat; }

div.score8 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -300px no-repeat; }

div.score9 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -330px no-repeat; }

div.score10 {
  display: inline-block;
  width: 60px;
  height: 16px;
  background: url(../images2/review.gif) 0px -360px no-repeat; }

div.score {
  float: left;
  display: inline-block;
  text-align: left;
  width: 130px;
  height: 22px;
  margin: 5px 0 0 5px;
  padding: 0;
  background: url(../images2/prodstar.png) no-repeat 0 -25px; }

div.score b {
  display: inline-block;
  height: 22px;
  background: url(../images2/prodstar.png) no-repeat 0 0; }

div.smallscore {
  float: left;
  display: inline-block;
  text-align: left;
  width: 80px;
  height: 15px;
  margin: 5px 0 0 5px;
  padding: 0;
  background: url(../images2/prodstar_small.png) no-repeat 0 -15px; }

div.smallscore b {
  display: inline-block;
  height: 15px;
  background: url(../images2/prodstar_small.png) no-repeat 0 0; }

/* ---------- RelatedProductCategory ---------- */
div.relatedProductCategory {
  width: 228px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  border-top: solid 1px #e4e4e4;
  clear: both; }

div.relatedProductCategory .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-weight: bold;
  border-bottom: solid 1px #e4e4e4;
  background-color: #f1f1f1; }

div.relatedProductCategory dl {
  width: 228px;
  line-height: 30px;
  float: left;
  _float: none; }

div.relatedProductCategory dl.last {
  border-bottom: none; }

div.relatedProductCategory dt {
  background: #F7F7F7; }

div.relatedProductCategory dt a {
  font-family: "Microsoft YaHei";
  color: #2c64b1;
  font-size: 14px; }

div.relatedProductCategory dd {
  width: 228px;
  background: url(../images2/product.gif) -131px -590px no-repeat;
  text-align: left;
  padding-left: 36px; }

div.hotProduct {
  width: 228px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  border-top: solid 1px #e4e4e4; }

div.hotProduct .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-weight: bold;
  border-bottom: solid 1px #e4e4e4;
  background-color: #f1f1f1; }

div.hotProduct td {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  border-bottom: solid 1px #f1f1f1;
  vertical-align: top; }

div.hotProduct .proddesc {
  padding-right: 10px; }

div.hotProduct p {
  line-height: 26px; }

div.hotProduct li {
  margin-top: 10px;
  padding: 0px 10px;
  white-space: nowrap;
  border-bottom: solid 1px #f1f1f1; }

div.hotProduct span {
  float: right;
  width: 140px;
  line-height: 30px;
  text-align: left; }

div.hotProduct li.last {
  border-bottom: none; }

div.hotProduct td a {
  color: #2953a6; }

div.hotProduct td strong {
  color: #666666;
  font-weight: bold; }

div.hotProduct td em {
  color: #ceaa00;
  font-weight: bold;
  font-style: normal; }

div.hotProduct .pointlabel {
  float: left;
  padding-top: 4px; }

/* ---------- HistoryProduct ---------- */
div.historyProduct {
  width: 208px;
  padding: 0px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #e4e4e4;
  background-color: #f8f8f8; }

div.historyProduct .title {
  height: 30px;
  line-height: 30px;
  font-weight: bold; }

div.historyProduct li {
  height: 70px; }

div.historyProduct li img {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  padding: 1px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff; }

div.historyProduct li a {
  width: 130px;
  height: 40px;
  line-height: 20px;
  display: block;
  float: right;
  overflow: hidden; }

div.historyProduct li span {
  width: 128px;
  height: 20px;
  line-height: 20px;
  display: block;
  float: right;
  color: #d80000;
  overflow: hidden; }

div.historyProduct .clearHistoryProduct {
  line-height: 30px;
  color: #999999;
  outline: none;
  blr: expression(this.hideFocus = true); }

/* ---------- ProductList ---------- */
div.productList .filter {
  margin-bottom: 4px; }

div.productList .filter .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #6d6d6d;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  border: solid 1px #e4e4e4; }

div.productList .filter .content {
  padding: 0px 10px;
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4; }

div.productList .filter dl {
  width: 880px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  border-bottom: dotted 1px #e8e8e8; }

div.productList .filter dl.last {
  border-bottom: none; }

div.productList .filter dt {
  width: 80px;
  float: left;
  margin-right: 8px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  cursor: default; }

div.productList .filter dd {
  float: left;
  margin-right: 12px;
  color: #1859a5;
  white-space: nowrap; }

div.productList .filter dd a {
  line-height: 30px;
  padding: 2px 4px;
  color: #2953a5; }

div.productList .filter dd a.current {
  color: #ffffff;
  background-color: #ff6600; }

div.productList .filter .moreOption {
  width: 12px;
  height: 30px;
  line-height: 30px;
  display: none;
  margin-right: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #7d7d7d;
  cursor: pointer;
  overflow: hidden;
  background: url(../images2/product.gif) -210px -270px no-repeat; }

div.productList .filter dd.close {
  background: url(../images2/product.gif) -210px -300px no-repeat; }

div.productList .filter .moreFilter {
  line-height: 6px;
  background: url(../images2/product.gif) 0px 0px repeat-x; }

div.productList .filter .moreFilter a {
  width: 108px;
  height: 27px;
  line-height: 22px;
  display: block;
  margin: 0px auto;
  text-align: center;
  outline: none;
  blr: expression(this.hideFocus = true);
  background: url(../images2/product.gif) 0px -480px no-repeat; }

div.productList .filter .moreFilter .close {
  background: url(../images2/product.gif) -120px -480px no-repeat; }

div.productList .bar {
  margin-bottom: 10px;
  color: #434343;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #dddddd; }

div.productList .bar .layout {
  height: 26px;
  line-height: 26px;
  padding: 8px 0px 8px 8px;
  border-bottom: dotted 1px #dddddd;
  background: url(../images2/product.gif) 0px -30px repeat-x; }

div.productList .bar .layout label {
  float: left;
  margin-right: 8px; }

div.productList .bar .layout a {
  float: left;
  padding: 1px;
  margin-right: 10px;
  outline: none;
  blr: expression(this.hideFocus = true);
  cursor: pointer;
  border: solid 1px #cccccc;
  background-color: #ffffff; }

div.productList .bar .layout a:hover {
  border: solid 1px #f9ad75; }

div.productList .bar .layout a.current {
  border: solid 1px #f9ad75; }

div.productList .bar .layout a span {
  min-width: 22px;
  _width: 22px;
  _white-space: nowrap;
  height: 22px;
  line-height: 22px;
  display: block;
  margin-right: 0px;
  text-align: center;
  background: url(../images2/product.gif) 0px -90px repeat-x; }

div.productList .bar .layout a.current span {
  background: url(../images2/product.gif) 0px -120px repeat-x; }

div.productList .bar .layout .tableType span {
  background: url(../images2/product.gif) 0px -510px no-repeat; }

div.productList .bar .layout .listType span {
  background: url(../images2/product.gif) -60px -510px no-repeat; }

div.productList .bar .layout .currentTable {
  border: solid 1px #f9ad75; }

div.productList .bar .layout .currentTable span {
  background: url(../images2/product.gif) -30px -510px no-repeat; }

div.productList .bar .layout .currentList {
  border: solid 1px #f9ad75; }

div.productList .bar .layout .currentList span {
  background: url(../images2/product.gif) -90px -510px no-repeat; }

div.productList .bar .layout .page {
  float: right;
  margin-right: 0px; }

div.productList .bar .layout .page span {
  padding: 0px 6px; }

div.productList .bar .sort {
  height: 26px;
  padding: 8px 0px 8px 8px;
  border-bottom: dotted 1px #dddddd; }

div.productList .bar .sort a:hover {
  color: #ff6600;
  background-color: #eeeeee; }

div.productList .bar .sort a.current {
  color: #000000;
  background-color: #eeeeee; }

div.productList .bar .sort .orderSelect {
  float: left;
  cursor: default; }

div.productList .bar .sort .orderSelect span {
  width: 100px;
  height: 22px;
  line-height: 22px;
  display: block;
  padding: 0px 6px;
  border: solid 1px #cccccc;
  background: url(../images2/product.gif) right -330px no-repeat; }

div.productList .bar .sort .popupMenu {
  width: 112px;
  display: none;
  position: absolute;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  background-color: #ffffff; }

div.productList .bar .sort .popupMenu ul {
  z-index: 100;
  padding: 1px; }

div.productList .bar .sort .popupMenu li {
  height: 24px;
  vertical-align: middle; }

div.productList .bar .sort .popupMenu a {
  height: 24px;
  line-height: 24px;
  *line-height: 25px;
  padding: 0px 5px;
  display: block;
  float: none;
  overflow: hidden;
  outline: none;
  blr: expression(this.hideFocus = true);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

div.productList .bar .sort .asc, div.productList .bar .sort .currentAsc, div.productList .bar .sort .desc, div.productList .bar .sort .currentDesc {
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  padding: 0px 15px 0px 6px;
  outline: none;
  blr: expression(this.hideFocus = true);
  border-top: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc; }

div.productList .bar .sort .asc {
  background: url(../images2/product.gif) right -360px no-repeat; }

div.productList .bar .sort .currentAsc {
  background: url(../images2/product.gif) right -390px no-repeat; }

div.productList .bar .sort .desc {
  background: url(../images2/product.gif) right -420px no-repeat; }

div.productList .bar .sort .currentDesc {
  background: url(../images2/product.gif) right -450px no-repeat; }

input.startPrice, input.endPrice {
  width: 38px;
  height: 22px;
  line-height: 22px;
  padding: 0px;
  margin: 0px 4px
  text-align: center;
  vertical-align: middle;
  ime-mode: disabled;
  border: 1px solid #cccccc; }

div.productList .bar .sort input:disabled {
  background-color: #ffffff; }

div.productList .bar .sort button {
  height: 24px;
  line-height: 24px;
  display: none;
  padding: 0px 4px;
  color: #666666;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  _overflow-x: visible;
  border: 1px solid #cccccc;
  background-color: #f6f6f6; }

div.productList .bar .tag {
  min-height: 30px;
  line-height: 30px;
  padding: 0px 8px;
  text-align: left; }

div.productList .bar .tag .promotions {
  float: left; }

a.promotion {
  color: #cc0000; }

div.productList .result dl {
  line-height: 30px;
  padding: 10px; }

div.productList .result dt {
  color: #843d11;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft YaHei"; }

div.productList .table {
  padding: 0px 2px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #dddddd; }

div.productList .table li {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 6px;
  width: 172px;
  height: 314px;
  line-height: 20px;
  float: left;
  overflow: hidden;
  border-bottom: solid 1px #e4e4e4; }

div.productList .table li.last {
  border-bottom: none; }

div.productList .table li .product-photo a {
  height: 170px;
  display: block;
  padding: 0px; }

div.productList .table li .product-photo a:hover {
  background-color: #f6f6f6; }

div.productList .table span {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px; }

div.productList .table .brand {
  line-height: 30px;
  color: #a5a5a5;
  font-weight: 200; }

div.productList .table .prodname {
  height: 40px; }

div.productList .table .quantity {
  height: 14px;
  text-align: center; }

div.productList .table .product-photo {
  position: relative; }

div.productList .table .product-photo a {
  border: 1px solid #c9c9c9; }

div.productList .table .product-photo a:hover {
  border: 1px solid #bf1717; }

p.hotsale {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  background: url(../images2/hotsale.png) no-repeat; }

div.productList .quantitySubBtn {
  cursor: pointer; }

div.productList .quantityAddBtn {
  cursor: pointer; }

div.productList .addtoCartInRow {
  width: 80px;
  height: 26px;
  cursor: pointer;
  padding: 0px; }

div.productList .table .price {
  line-height: 20px;
  color: #ff6600;
  font-size: 14px;
  font-weight: bold; }

div.productList .table .price del {
  margin-left: 6px;
  color: #a5a5a5;
  font-size: 11px;
  font-weight: 200;
  text-decoration: line-through; }

div.productList .list {
  margin-bottom: 10px; }

div.productList .tableAddtoCart {
  margin-top: 6px; }

div.productList .list li {
  height: 170px;
  line-height: 22px;
  padding: 5px 0px;
  overflow: hidden;
  border-bottom: solid 1px #e4e4e4; }

div.productList .list img {
  float: left; }

div.productList .list span {
  display: block;
  float: left;
  padding-left: 20px; }

div.productList .list .price {
  line-height: 30px;
  float: right;
  color: #c4161c;
  font-size: 14px;
  font-weight: bold; }

div.productList .list .price del {
  margin-left: 10px;
  color: #a5a5a5;
  font-size: 11px;
  font-weight: 200;
  text-decoration: line-through; }

div.productRowHeader {
  width: 936px;
  height: 20px;
  border: 1px solid #dddddd;
  background-color: #F7F7F7; }

div.productRowHeader .name {
  float: left;
  margin-left: 130px;
  width: 100px;
  text-align: left;
  font-size: 14px; }

div.productRowHeader .brand {
  float: left;
  margin-left: 170px;
  font-size: 14px; }

div.productRowHeader .pricesect {
  float: right;
  margin-right: 140px;
  width: 200px;
  font-size: 14px; }

div.productRow {
  width: 936px;
  height: 80px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px dashed #dddddd; }

div.productRowLast {
  border-bottom: 1px solid #dddddd; }

div.productRow .check {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 12px;
  width: 10px;
  text-align: left;
  margin-left: 30px; }

div.productRow .name {
  float: left;
  margin-top: 10px;
  width: 200px;
  text-align: left;
  margin-left: 10px; }

div.productRow .pricesect {
  float: left;
  margin-top: 16px;
  color: #2D7CB4;
  width: 200px; }

div.productRow .price {
  float: right; }

div.productRow .listAddtoCart {
  float: right;
  margin-top: 16px;
  margin-right: 10px; }

div.productRow .sn {
  color: #137673;
  font-weight: bold; }

div.productRow .snlabel {
  font-weight: bold; }

div.productRow .name p {
  margin-left: 6px;
  margin-top: 6px; }

div.productRow .image {
  float: left;
  margin-top: 10px;
  margin-left: 10px; }

div.productRow .brand {
  float: left;
  margin-top: 16px;
  width: 200px; }

div.productRow .quantitySubBtn {
  cursor: pointer; }

div.productRow .quantityAddBtn {
  cursor: pointer; }

div.productRow .quantity {
  height: 14px;
  text-align: center; }

div.productRow .returnLine {
  height: 30px; }

div.productRow .addtoCartInRow {
  width: 80px;
  height: 26px;
  cursor: pointer;
  padding: 0px; }

div.productRow .addFavorityInRow {
  margin-left: 10px;
  width: 60px;
  height: 26px; }

div.productRow .quantityLabel {
  color: #BF1717;
  margin-right: 6px; }

/* ---------- ProductContent ---------- */
div.productContent .productImage {
  width: 302px;
  height: 390px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px; }

div.productContent .productImage .medium {
  width: 300px;
  height: 300px;
  display: block;
  margin-bottom: 4px;
  border: 1px solid #e4e4e4; }

div.productContent .productImage .prev {
  width: 10px;
  height: 62px;
  display: block;
  float: left;
  margin-right: 5px;
  outline: none;
  blr: expression(this.hideFocus = true);
  border: 1px solid #e4e4e4;
  background: url(../images2/product.gif) -120px -510px no-repeat; }

div.productContent .productImage .prev:hover {
  background-color: #f1f1f1; }

div.productContent .productImage .next {
  width: 10px;
  height: 62px;
  display: block;
  float: right;
  margin-left: 4px;
  outline: none;
  blr: expression(this.hideFocus = true);
  border: 1px solid #e4e4e4;
  background: url(../images2/product.gif) -180px -510px no-repeat; }

div.productContent .productImage .next:hover {
  background-color: #f1f1f1; }

div.productContent .productImage .disabled {
  cursor: default;
  background-color: #f1f1f1; }

div.productContent .productImage a[class="prev disabled"] {
  background: url(../images2/product.gif) -150px -510px no-repeat #f4f4f4; }

div.productContent .productImage a[class="next disabled"] {
  background: url(../images2/product.gif) -210px -510px no-repeat #f4f4f4; }

div.productContent .productImage .scrollable {
  width: 268px;
  height: 64px;
  float: left;
  position: relative;
  overflow: hidden; }

div.productContent .productImage .scrollable .items {
  width: 20000em;
  position: absolute; }

div.productContent .productImage .scrollable a {
  display: block;
  float: left;
  padding: 1px;
  margin-right: 4px;
  outline: none;
  blr: expression(this.hideFocus = true);
  border: 1px solid #e4e4e4;
  width: 60px;
  height: 60px; }

div.productContent .productImage .scrollable a.current {
  padding: 0px;
  border: 2px solid #5998ff; }

div.productContent .productImage .scrollable img {
  width: 60px;
  height: 60px;
  display: block; }

div.productContent .productImage .zoomPad {
  float: left;
  position: relative;
  z-index: 99;
  cursor: crosshair;
  border: 1px solid #cccccc;
  width: 300px;
  height: 300px;
  margin-bottom: 10px; }

div.productContent .productImage .zoomPreload {
  width: 90px;
  height: 43px;
  * width: 100px;
  * height: 49px;
  padding: 8px;
  text-align: center;
  color: #333333;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 110;
  border: 1px solid #e4e4e4;
  background-color: white; }

div.productContent .productImage .zoomPup {
  overflow: hidden;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  z-index: 120;
  cursor: crosshair;
  border: 1px solid #e4e4e4;
  background-color: #ffffff; }

div.productContent .productImage .zoomOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 101;
  display: none;
  background: #ffffff; }

div.productContent .productImage .zoomWindow {
  height: auto;
  position: absolute;
  left: 110%;
  top: 40px;
  z-index: 110;
  background: #ffffff; }

div.productContent .productImage .zoomWrapper {
  position: relative;
  z-index: 110;
  border: 1px solid #e4e4e4; }

div.productContent .productImage .zoomWrapperTitle {
  width: 100%;
  height: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  -moz-opacity: 0.6;
  opacity: 0.6;
  display: block;
  filter: alpha(opacity=60);
  background: #999999; }

div.productContent .productImage .zoomWrapperImage {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 110; }

div.productContent .productImage .zoomWrapperImage img {
  display: block;
  position: absolute;
  z-index: 101;
  border: 0px; }

div.productContent .productImage .zoomIframe {
  z-index: -1;
  filter: alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position: absolute;
  display: block; }

div.productContent .name {
  line-height: 26px;
  color: #414141;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px; }

div.productContent .morePromotion {
  width: 90px;
  line-height: 26px;
  float: right;
  font-size: 16px;
  text-align: right; }

div.buy .quantityBtn {
  width: 180px;
  margin-top: 20px;
  float: right; }

div.productContent .sn {
  width: 410px;
  float: right;
  clear: right;
  color: #616161;
  /*border-bottom: 1px dotted #dddddd;*/ }

div.productContent .sn div {
  height: 24px;
  line-height: 24px;
  float: left;
  margin-right: 10px; }

div.productContent .info {
  width: 298px;
  line-height: 24px;
  float: right;
  clear: right;
  margin-top: 10px; }

div.productContent .info dt {
  width: 54px;
  float: left;
  margin-left: 10px;
  color: #888888;
  white-space: nowrap; }

div.productContent .info dd {
  width: 230px;
  float: left;
  color: #666666;
  text-align: left;
  vertical-align: top;
  margin: 0 auto; }

div.productContent .info div.infoPrice {
  color: #cc0000;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 18px;
  height: 18px;
  width: 100px;
  float: left;
  padding-top: 13px; }

div.productContent .info dt.dtPrice {
  height: 18px;
  padding-top: 13px;
  font-size: 14px; }

div.pointStock {
  float: right;
  margin-top: 20px;
  margin-right: 20px; }

div.pointStock .point {
  color: #ff6600;
  margin-right: 20px; }

div.productContent .info del {
  color: #a5a5a5;
  text-decoration: line-through; }

div.productContent .info span {
  color: #ff6600; }

div.productContent .info a {
  padding: 1px 2px;
  color: #ffffff;
  background-color: #f07373; }

div.productContent .action {
  width: 282px;
  line-height: 34px;
  float: right;
  clear: right;
  padding: 2px;
  color: #333333;
  margin: 10px;
  margin-bottom: 36px;
  /*background-color: #fffee6;*/ }

/*
div.productContent .action:hover {
	border-color: #df9a07;
}*/
div.productContent .specification {
  margin-left: 16px; }

div.productContent .specification .title {
  height: 24px;
  line-height: 24px;
  display: none;
  padding-left: 4px;
  color: #666666;
  background-color: #f5efdc; }

div.productContent .specification dl {
  line-height: 24px;
  clear: both;
  padding: 4px 0px; }

div.productContent .specification dt {
  width: 60px;
  float: left;
  margin-right: 10px;
  text-align: right;
  color: #888888;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px; }

div.productContent .specification dd {
  float: left;
  margin-right: 4px;
  color: #666666;
  overflow: hidden;
  white-space: nowrap; }

div.productContent .specification a {
  display: block;
  float: left;
  position: relative;
  outline: none;
  blr: expression(this.hideFocus = true); }

div.productContent .specification a span {
  width: 13px;
  height: 13px;
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background: url(../images2/product.gif) 0px -540px no-repeat; }

div.productContent .specification .text {
  height: 24px;
  line-height: 24px;
  padding: 0px 8px;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-left: 1px solid #eeeeee;
  background-color: #ffffff; }

div.productContent .specification .text:hover {
  border-color: #ff9900; }

div.productContent .specification .image {
  width: 26px;
  height: 26px;
  padding: 1px;
  border: 1px solid #cccccc;
  background-color: #ffffff; }

div.productContent .specification .image:hover {
  border-color: #ff9900; }

div.productContent .specification .image img {
  width: 26px;
  height: 26px;
  display: block; }

div.productContent .specification .selected {
  border: 1px solid #f08b02; }

div.productContent .specification .selected span {
  display: block; }

div.productContent .specification .locked {
  color: #d6d6d6;
  cursor: not-allowed;
  border-color: #bbbbbb;
  border-style: dotted; }

div.productContent .productNotify {
  height: 24px;
  line-height: 24px;
  padding: 10px 0px;
  display: none;
  border-bottom: 1px solid #faeac7; }

div.productContent .productNotify dt {
  width: 60px;
  float: left;
  margin-right: 10px;
  color: #888888;
  text-align: right;
  white-space: nowrap; }

div.productContent .productNotify dd {
  float: left;
  margin-right: 4px;
  color: #666666; }

div.productContent .productNotify input {
  width: 122px;
  height: 24px;
  line-height: 24px;
  padding: 0px 2px;
  border: 1px solid #dbdbdb; }

div.productContent .quantity {
  height: 18px;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  float: left; }

dd.stock {
  margin-left: 20px; }

div.productContent .quantity dt {
  width: 60px;
  float: left;
  margin-right: 10px;
  color: #888888;
  text-align: right;
  white-space: nowrap; }

div.productContent .quantity dd {
  float: left;
  margin-right: 4px;
  color: #666666; }

div.productContent .quantityInput div {
  height: 18px;
  float: left;
  padding-left: 2px; }

div.productContent .quantityLabel {
  text-align: right; }

div.productContent .quantityInput input {
  height: 24px;
  width: 40px;
  line-height: 18px;
  border: 2px solid #dbdbdb;
  text-align: center;
  ime-mode: disabled;
  font-size: 14px;
  font-weight: 200;
  margin-left: 4px;
  border-radius: 3px; }

div.productContent .quantity .increase {
  width: 14px;
  height: 14px;
  display: block;
  clear: both;
  margin-bottom: 2px;
  cursor: pointer;
  overflow: hidden;
  blr: expression(this.hideFocus = true);
  background: url(../images2/add.png) no-repeat; }

div.productContent .quantity .decrease {
  width: 14px;
  height: 14px;
  display: block;
  clear: both;
  cursor: pointer;
  overflow: hidden;
  blr: expression(this.hideFocus = true);
  background: url(../images2/subtract.png) no-repeat; }

div.productContent .buy {
  height: 127px;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
  border: 1px solid #C8C8C8;
  background: url(../images2/quantitybtnbg.png) repeat; }

div.productContent .buy .addProductNotify {
  width: 138px;
  height: 28px;
  line-height: 16px;
  float: left;
  text-align: left;
  padding-left: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  cursor: pointer;
  border: none;
  background: url(../images2/product.gif) 0px -644px no-repeat; }

div.productContent .buy .addCart {
  letter-spacing: 4px;
  width: 170px;
  height: 34px;
  line-height: 16px;
  float: left;
  padding-left: 20px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  cursor: pointer;
  border: none;
  background: url(../images2/product.gif) 0px -709px no-repeat; }

div.productContent .buy .buyAtonce {
  letter-spacing: 4px;
  width: 170px;
  height: 34px;
  line-height: 16px;
  float: left;
  padding-left: 20px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  cursor: pointer;
  border: none;
  margin-top: 6px;
  background: url(../images2/product.gif) 0px -749px no-repeat; }

div.listDeliver .infoCorrection {
  background: url(../images2/infocorrection.png) no-repeat;
  padding-left: 60px;
  height: 30px;
  padding-top: 10px;
  color: #AAAAAA;
  margin-left: 46px; }

div.listDeliver .addFavorite {
  background: url(../images2/smalltrack.png) no-repeat;
  padding-left: 60px;
  height: 30px;
  padding-top: 10px;
  color: #AAAAAA; }

.listDeliver {
  clear: left;
  font-size: 12px;
  font-weight: bold;
  color: #636363;
  text-align: left;
  margin-left: 16px;
  margin-bottom: 10px; }

.listDeliver img {
  width: 40px;
  height: 16px;
  margin-right: 10px; }

div.productContent .buy a {
  float: right;
  color: #666666; }

div.productContent .bar {
  height: 36px;
  margin-bottom: 10px;
  margin-top: 0px; }

div.productContent .bar ul {
  width: 934px;
  height: 32px;
  padding: 4px 0px 0px 0px;
  background: #999999; }

div.productContent .bar li {
  height: 32px;
  line-height: 32px;
  float: left;
  padding-right: 4px; }

div.productContent .bar li.current {
  /*background: url(../images2/product.gif) 0px -210px repeat-x;*/ }

div.productContent .bar li.current a {
  color: #cc0000;
  font-weight: bold; }

div.productContent .brief {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  margin-bottom: 10px; }

div.productContent .brief th {
  width: 100px;
  height: 30px;
  padding: 0px 6px;
  color: #888888;
  font-weight: 200;
  text-align: right;
  background-color: #eeeeee; }

div.productContent .brief td {
  padding: 0px 6px;
  color: #999999;
  background-color: #f6f6f6; }

div.productContent .introduction table {
  margin: 0 auto; }

div.productContent .introduction .title, div.productContent .parameter .title {
  height: 29px;
  line-height: 29px;
  margin-bottom: 10px;
  border-top: 1px solid #aaa8a9;
  background-color: #d3d3d3; }

div.productContent .introduction .title strong, div.productContent .parameter .title strong {
  display: block;
  float: left;
  padding: 0px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  background-color: #aaa8a9; }

div.productContent .introduction {
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px; }

div.productContent .introduction strong {
  font-weight: bold; }

div.productContent .introduction em {
  font-style: italic; }

div.productContent .parameter {
  margin-bottom: 10px; }

div.productContent .parameter table {
  width: 100%;
  line-height: 30px; }

div.productContent .parameter th {
  width: 100px;
  padding: 0px 10px;
  font-weight: bold;
  text-align: right;
  border: 1px solid #e4e4e4; }

div.productContent .parameter td {
  padding: 0px 10px;
  border: 1px solid #e4e4e4;
  text-align: left; }

ul.parameterInBrief {
  font-size: 14px;
  margin-top: 10px;
  list-style-type: none;
  text-align: left; }

ul.parameterInBrief li {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 12px;
  vertical-align: middle; }

ul.parameterInBrief li.point {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 6px;
  vertical-align: middle; }

ul.parameterInBrief .pointlabel {
  float: left;
  padding-top: 8px; }

div.productContent .parameter .group {
  font-size: 14px;
  text-align: left;
  background-color: #f1f1f1; }

span.paymthd {
  font-size: 12px; }

span.servicePromise {
  font-size: 12px; }

div.productContent .review {
  width: 900px;
  padding: 1px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e4e4; }

div.productContent .review .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  background-color: #f1f1f1; }

div.productContent .review .content {
  padding: 0px 10px; }

div.productContent .review .score {
  width: 120px;
  height: 60px;
  float: left;
  padding-top: 20px;
  margin: 10px 20px 10px 0px;
  color: #808080; }

div.productContent .review .score strong {
  display: block;
  float: left;
  margin-right: 4px;
  color: #ff6600;
  font-size: 30px;
  font-weight: 200;
  font-family: "Microsoft YaHei"; }

div.productContent .review .score div {
  float: left; }

div.productContent .review .score div div {
  height: 18px;
  line-height: 18px;
  clear: both;
  white-space: nowrap; }

div.productContent .review .xxscore {
  width: 120px;
  height: 60px;
  float: left;
  padding-top: 20px;
  margin: 10px 20px 10px 0px;
  color: #808080; }

div.productContent .review .xxscore strong {
  display: block;
  float: left;
  margin-right: 4px;
  color: #ff6600;
  font-size: 30px;
  font-weight: 200;
  font-family: "Microsoft YaHei"; }

div.productContent .review .xxscore div {
  float: left; }

div.productContent .review .xxscore div div {
  height: 18px;
  line-height: 18px;
  clear: both;
  white-space: nowrap; }

div.productContent .review .graph {
  height: 60px;
  width: 400px;
  float: left;
  padding: 10px 10px 10px 0px;
  margin: 10px 0px;
  border-right: 1px solid #e4e4e4; }

div.productContent .review .graph span {
  height: 21px;
  display: block; }

div.productContent .review .graph em {
  width: 28px;
  height: 21px;
  line-height: 16px;
  display: block;
  float: right;
  margin-right: 26px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  background: url(../images2/review.gif) 0px -30px no-repeat; }

div.productContent .review .graph div {
  width: 400px;
  height: 14px;
  background: url(../images2/review.gif) 0px 0px no-repeat; }

div.productContent .review .graph li {
  width: 80px;
  height: 26px;
  line-height: 26px;
  float: left;
  color: #808080;
  text-align: center; }

div.productContent .review .handle {
  height: 40px;
  float: left;
  padding-top: 34px;
  padding-left: 20px;
  margin: 10px 0px; }

div.productContent .review .handle a {
  padding: 4px 8px;
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
  background-color: #2372cf; }

div.productContent .review table {
  width: 100%;
  line-height: 24px;
  clear: both;
  border-top: 1px solid #e4e4e4; }

div.productContent .review table th {
  padding: 6px 0px;
  color: #888888;
  font-weight: 200;
  text-align: left;
  border-bottom: 1px dotted #e4e4e4; }

div.productContent .review table td {
  width: 160px;
  padding-left: 10px;
  border-bottom: 1px dotted #e4e4e4;
  text-align: right; }

div.productContent .review span {
  color: #999999; }

div.productContent .review p {
  padding: 10px 0px;
  color: #888888; }

div.productContent .consultation {
  padding: 1px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e4e4; }

div.productContent .consultation .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  background-color: #f1f1f1; }

div.productContent .consultation .content {
  padding: 0px 10px; }

div.productContent .consultation .content li {
  line-height: 24px;
  padding: 10px 0px;
  color: #888888;
  border-bottom: 1px dotted #e4e4e4; }

div.productContent .consultation .content li.last {
  border-bottom: none; }

div.productContent .consultation .content li .arrow {
  width: 0px;
  height: 0px;
  margin-left: 20px;
  overflow: hidden;
  border: 6px solid;
  border-color: #ffffff #ffffff #f1f1f1 #ffffff; }

div.productContent .consultation .content li ul {
  padding: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1f1f1; }

div.productContent .consultation .content li ul li {
  padding: 0px;
  border-bottom: none; }

div.productContent .consultation .content span {
  color: #999999;
  white-space: nowrap; }

div.productContent .consultation .content p {
  padding: 10px 0px;
  color: #999999; }

div.productBrief {
  float: left;
  width: 500px;
  margin-top: 10px; }

div.productBuyContainer {
  float: right;
  width: 310px;
  margin-right: 12px;
  text-align: center; }

div.productBuy {
  text-align: center;
  border: 1px solid #C8C8C8;
  border-radius: 5px; }

div.productBuySpec {
  text-align: left;
  padding: 6px;
  margin-top: 10px;
  border: 1px solid #C8C8C8;
  border-radius: 5px; }

div.productBuySpec p.before {
  margin-top: 8px; }

div.productBuySpec p.now {
  color: #cc0000;
  margin-bottom: 8px; }

div.productBuy .logo_small {
  display: inline-block;
  width: 78px;
  height: 41px;
  float: right;
  background: url("../images2/logo_small.png") no-repeat; }

div.product_brief_description_container {
  text-align: left; }

div.productViewMore {
  margin-top: 20px;
  text-align: left; }

div.productViewMore a {
  color: #3e71b5;
  text-decoration: underline; }

div.tabProducts {
  position: relative;
  overflow: hidden;
  height: 42px;
  width: 1180px;
  text-align: left; }

ul.tabProducts {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

ul.tabProducts li {
  margin: 0px 7px 0 0;
  float: left;
  list-style: none;
  max-width: 48%;
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 6px 19px;
  display: inline-block;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  background: #e7e7e7 url("../images2/tablink-bg.png") top left repeat-x;
  z-index: 100;
  color: #868686;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'archivo_narrowbold', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 18px; }

ul.tabProducts li:hover {
  background: #fff;
  text-decoration: none; }

ul.tabProducts li.current {
  color: #3175b7;
  font-weight: bold;
  background: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff; }

ul.tabProducts li.current a {
  color: #3175b7;
  font-weight: bold; }

ul.tabProducts a {
  font-weight: bold; }

ul.tabProdInfo {
  width: 1180px; }

ul.tabProdInfo a.current {
  color: #3175b7;
  background: #fff;
  border-bottom: 1px solid #fff; }

ul.tabProdInfo a {
  padding: 6px 19px;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background: #e7e7e7 url("../images2/tablink-bg.png") top left repeat-x;
  z-index: 100;
  color: #868686;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'archivo_narrowbold', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 18px; }

ul.tabProdInfo a:hover {
  color: #3175b7;
  background: #fff;
  padding: 6px 19px;
  text-decoration: none; }

div.tabProductsContent {
  width: 1150px;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
  height: 310px;
  overflow: hidden; }

div.active {
  display: block; }

div.inactive {
  display: none; }

.tabProductsContent .relatedProductsflexslider {
  padding: 0 0px; }

.tabProductsContent .flexslider {
  padding: 0 0px; }

.tabProductsContent ul {
  overflow: hidden;
  font-size: 0;
  position: relative; }

.tabProductsContent .list-item {
  display: inline-block;
  float: left;
  width: 140px;
  font-size: 10px;
  padding: 20px 25px 10px 25px;
  *padding-bottom: 0;
  border-bottom: 0px solid #cbcbcb;
  position: relative; }

.tabProductsContent .list-item.last {
  padding-right: 15px; }

.tabProductsContent .list-item h3 {
  text-align: left;
  line-height: 25px;
  padding-bottom: 10px;
  height: 38px; }

.tabProductsContent .list-item .product-photo {
  position: relative;
  width: 146px;
  height: 146px;
  margin-bottom: 20px; }

.tabProductsContent .list-item .product-photo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #c9c9c9; }

.tabProductsContent .list-item .product-photo a:hover {
  border: 1px solid #bf1717; }

.tabProductsContent .list-item .product-photo p.hotsale {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  background: url(../images2/hotsale.png) no-repeat; }

div.firstPanel {
  padding: 10px 0;
  margin-bottom: 20px; }

table.secondPanel {
  /*border:3px solid #999999;*/
  margin-bottom: 20px;
  border-radius: 5px;
  border-collapse: separate; }

div.leftPanel {
  width: 230px;
  float: left;
  border: 3px solid #999999;
  border-radius: 5px; }

div.rightPanel {
  float: right;
  margin-left: 4px;
  width: 934px;
  border: 3px solid #999999;
  border-radius: 5px; }

/* ---------- Product Path ---------- */
div.prodpath {
  height: 25px;
  line-height: 25px;
  clear: both;
  margin-bottom: 10px;
  text-align: left; }

/* ------------- Product Search ------------------------*/
div.topProdSelCheck {
  margin-left: 0px;
  text-align: center; }

input.addToCart {
  float: right;
  width: 100px;
  height: 26px;
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 10px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  blr: expression(this.hideFocus = true);
  border: none;
  background: url(../images2/addCart.gif) 0px 0px no-repeat; }

/** --------------  �ײ�����������  ---------------------- **/
div.p_rec_link {
  border: 1px solid #999999;
  height: 85px;
  margin-top: 10px;
  margin-bottom: 20px;
  vertical-align: middle;
  padding: 10px;
  background: #F9F9F7; }

div.p_rec_link ul li {
  margin: 0 4px;
  float: left;
  width: 116px;
  text-align: left; }

div.p_rec_link ul li.p_link_p {
  width: 2px; }

img.p_rec_img {
  width: 116px;
  height: 78px; }

div.brandcontainer {
  border: solid 1px #e4e4e4;
  display: block;
  margin-top: -1px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 6px;
  padding-left: 6px; }

div.brandcontainer td {
  padding: 10px;
  text-align: left; }

div.brandcontainer td.brief {
  text-indent: 2em; }

div.introduction div img {
  max-width: 100%; }

/*# sourceMappingURL=product.css.map */
